asgiref==3.2.8
backcall==0.2.0
decorator==4.4.2
Django==3.0.7
django-crontab==0.7.1
django-filter==2.3.0
djangorestframework==3.11.2
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.0
Markdown==3.2.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
Pygments==2.6.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.2.4
